#home-hero {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

.hero-container {
    max-width: 800px;
    margin: 0 auto;
}

p.hero {
    color: #666;
    font-size: 18px;
    margin-bottom: 30px;
}

.book-now {
    background-color: var(--jet);
    color: var(--vegas-gold);
    font-weight: 600;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: auto;
}

.book-now:hover {
    color: var(--light-gray-70);
}

/* Custom styles for the home-carousel section */
#home-carousel {
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#home-carouselqqq {
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-carousel .carousel-inner .carousel-item {
    height: 700px; /* Set your desired height */
}
.custom-carousel .carousel-inner .carousel-item1 {
    height: 500px; /* Set your desired height */
}

.custom-carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 100%; /* Ensures the image fills the container */
    object-fit: cover; /* Ensures the image covers the container without stretching */
    border-radius: 10px;
}

.custom-carousel .carousel-inner .carousel-item iframe {
    width: 100%;
    height: 100%; /* Ensures the image fills the container */
    object-fit: cover; /* Ensures the image covers the container without stretching */
    border-radius: 10px;
}

/* Additional styles for carousel captions */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    bottom: 20px; /* Adjust as needed */
    font-size: 14px; /* Adjust font size if needed */
}

.popup_overlay{
    position: fixed;
    z-index: 10;
    background-color: #000000e0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: fadeIn .3s ease-in;
    display: none;
}

.pop_up_window{
    border: 1px;
    position: fixed;
    background-color: var(--smoky-white);
    width: 70%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 50px auto;
    z-index: 20;
    border-radius: 20px;
    padding: 10px;
    display: none;
    animation: slideIn .7s ease-in-out;
}

.popup_close{
    border: 1px;
    width: fit-content;
    margin-left: auto;
    cursor: pointer;
    font-size: 30px;
    color: var(--vegas-gold);
    margin-bottom: 10px;
}

.popUp_Img{
    border: 5px solid var(--vegas-gold);
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
    border-style: ridge;
}

.whatsapp-icon {
    position: fixed;
    bottom: 50px;
    right: 20px;
    font-size: 40px;
    color: #25D366;
    z-index: 1000;
}

.popUp_Img > img{
    width: 100%;
    height: 100%;
    filter: saturate(2);
    object-fit: contain;
}

.popUp_Img > img:hover{
    filter: saturate(1);
}

.gallery-item{
    border: 1px solid var(--vegas-gold);
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
}

.gallery-item > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item > iframe{
    width: 100%;
    height: 100%;
}

@media (max-width: 768px){
    .custom-carousel .carousel-inner .carousel-item {
        height: 400px; /* Set your desired height */
    }
    .custom-carousel .carousel-inner .carousel-item1 {
        height: 300px; /* Set your desired height */
    }
    .pop_up_window{
        width: 90%;
    }
    .whatsapp-icon{
        bottom: 90px;
    }
}

@keyframes slideIn {
    0%{
        opacity: 0;
        margin-bottom: 50%;
    }
    100%{
        opacity: 1;
    }    
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }    
}
